.black {
    height: 100px;
    width: 100px;
    background-color: black;
}

.white {
    height: 100px;
    width: 100px;
    background-color: white;
}

tr {
    outline: black solid 2px;
}

table {
margin: 20px;
}

