.dark {
    height: 100px;
    width: 100px;
    background-color: rgb(102,51,0);
}

.light {
    height: 100px;
    width: 100px;
    background-color: rgb(227,193,111);
}

td {
    outline: black solid 2px;
  }

td:hover {
  background-color: grey;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outline-board {
  height: 1000px;
  width: 1000px;
  outline: black solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(102,51,0);
}
