.dark {
    height: 100px;
    width: 100px;
    background-color: rgb(102,51,0);
}

.light {
    height: 100px;
    width: 100px;
    background-color: rgb(227,193,111);
}

td {
    outline: black solid 2px;
    padding: 0;
  }

td:hover {
  background-color: grey;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outline-board {
  height: 1000px;
  width: 1000px;
  outline: black solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(102,51,0);
  position: relative;
}

.clicked {
  background-color: rgba(220, 220, 220, 0.4);
}

img {
  position: absolute;
}

#black-king {
  left: 517px;
  top: 100px;
}

#black-queen {
  left: 417px;
  top: 100px;
}

#black-rook1 {
 left: 117px;
 top: 100px;
}

#black-rook2 {
  right: 117px;
  top: 100px;
}