@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body {
  @include center;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  width: fit-content;
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 7px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}


ul {
  text-align: center;
li {
  font-size: 20px;
  border: 2px solid gray;
  border-radius: 15%;
  display: inline;
  margin-left: 5px;
  width: 100px;
  text-align: left;
}
}

.checkbox {
  width:fit-content;
}
h1 {
   color: #7c795d; 
   font-family: 'Trocchi', serif; 
   font-size: 45px; 
   font-weight: normal; 
   line-height: 48px; 
   margin: 0; 
    text-align: center; 
    display: block;
}
p {
  color: #7c795d; 
  font-family: 'Trocchi', serif; 
  font-size: 20px;
  text-align: center;
}
.list {
  border: 2px solid black;
  width: 50%;
}
body {
  @include center;
}
.addNewTasks {
  text-align: center;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}